@font-face {
  font-family: 'Share Tech';
  src: url('/fonts/ShareTech-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rude';
  src: url('/fonts/Rude.ttf') format('truetype');
  //font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Allyca';
  src: url('/fonts/Allyca.otf') format('opentype');
}

@font-face {
  font-family: 'Allyca hollow';
  src: url('/fonts/Allyca_hollow.otf') format('opentype');
}
@font-face {
  font-family: 'Allyca monoline';
  src: url('/fonts/Allyca_monoline.otf') format('opentype');
}