body {
  .wrapper {
    .page-header {
      min-height: 8vh;
      max-height: 80px;
      background-color: #2c2c2c;
    }
  }
}

// Tablet  (portrait)
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    .wrapper {
      .page-header {

      }
    }
  }
}

// Tablet  (landscape)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    .wrapper {
      .page-header {

      }
    }
  }
}

// Mobile Landscaoe
@media (min-width: 481px) and (max-width: 767px) {
  body {
    .wrapper {
      .page-header {

      }
    }
  }
}

// Mobile Portrait
@media (min-width: 320px) and (max-width: 480px) {
  body {
    .wrapper {
      .page-header {

      }
    }
  }
}