.footer {
  padding: 1.125rem 0;
  text-align: center; }
  .footer nav {
    display: inline-block;
    float: left; }
  .footer .content {
    text-align: left; }
  .footer .nav-link {
    display: inline; }
  .footer .footer-brand {
    float: left;
    font-size: 0.875rem;
    line-height: 44px; }
  .footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none; }
    .footer ul:not(.links-vertical) {
      line-height: 3.1; }
    .footer ul li {
      display: inline-block; }
      .footer ul li a {
        color: inherit;
        padding: 13px 0.5rem;
        font-size: 0.8571em;
        text-transform: uppercase;
        text-decoration: none; }
        .footer ul li a:hover {
          text-decoration: none; }
  .footer ul.links-vertical {
    line-height: 1.6; }
    .footer ul.links-vertical li {
      display: block;
      margin-left: -5px;
      margin-right: -5px;
      margin-bottom: 0px; }
      .footer ul.links-vertical li a {
        padding: 5px;
        display: block; }
  .footer .social-buttons a {
    margin: 0; }
  .footer .social-buttons .btn {
    margin: 0; }
  .footer .pull-center {
    display: inline-block;
    float: none; }
  .footer .copyright {
    font-size: 0.8571em;
    line-height: 3.5; }
  .footer:after {
    display: table;
    clear: both;
    content: " "; }

.footer.footer-default {
  background-color: #f2f2f2; }

.footer.footer-white {
  background-color: #FFFFFF; }

.footer.footer-big {
  padding: 30px 0; }
  .footer.footer-big .social-feed i {
    font-size: 20px;
    float: left;
    padding-right: 10px;
    padding-bottom: 30px; }
  .footer.footer-big .gallery-feed img {
    width: 20%;
    margin-right: 5%;
    margin-bottom: 5%;
    float: left; }

[data-background-color="orange"] {
  background-color: #e95e38; }

[data-background-color="black"] {
  background-color: #2c2c2c; }

[data-background-color]:not([data-background-color="gray"]) {
  color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .title {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .social-description h2 {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .social-description p {
    color: rgba(255, 255, 255, 0.8); }
  [data-background-color]:not([data-background-color="gray"]) p {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) p.blockquote {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.2); }
    [data-background-color]:not([data-background-color="gray"]) p.blockquote small {
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .separator {
    background-color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .navbar.bg-white p {
    color: #888888; }
  [data-background-color]:not([data-background-color="gray"]) h1 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) h2 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) h3 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) h4 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) h5 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) h6 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item):not(.card-link) {
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .icons-container {
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .icons-container i {
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .input-group-text {
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8); }
  [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .input-group-text {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8); }
  [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control:focus {
      background-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control:focus + .input-group-text {
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control:active {
      background-color: rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF;
      color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control + .input-group-text {
      background-color: rgba(255, 255, 255, 0.1); }
      [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control + .input-group-text:focus {
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control + .input-group-text:active {
        background-color: rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF;
        color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .input-group-text {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8); }
  [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control:focus {
      background-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control:focus + .input-group-text {
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control:active {
      background-color: rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF;
      color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control + .input-group-text {
      background-color: rgba(255, 255, 255, 0.1); }
      [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control + .input-group-text:focus {
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control + .input-group-text:active {
        background-color: rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF;
        color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .description {
    color: rgba(255, 255, 255, 0.8); }
  [data-background-color]:not([data-background-color="gray"]) .checkbox label {
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .checkbox label::before {
      border-color: rgba(255, 255, 255, 0.2); }
    [data-background-color]:not([data-background-color="gray"]) .checkbox label::after {
      border-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .checkbox input[type="checkbox"]:disabled + label {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .radio label {
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .radio label::before {
      border-color: rgba(255, 255, 255, 0.2); }
    [data-background-color]:not([data-background-color="gray"]) .radio label::after {
      border-color: rgba(255, 255, 255, 0.2); }
  [data-background-color]:not([data-background-color="gray"]) .radio input[type="radio"]:disabled + label {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .radio input[type="radio"]:not(:disabled):hover + label::after {
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .radio input[type="radio"]:checked + label::after {
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .form-control {
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .form-control::-moz-placeholder {
      color: #ebebeb;
      opacity: 1;
      filter: alpha(opacity=100); }
    [data-background-color]:not([data-background-color="gray"]) .form-control:-moz-placeholder {
      color: #ebebeb;
      opacity: 1;
      filter: alpha(opacity=100); }
    [data-background-color]:not([data-background-color="gray"]) .form-control::-webkit-input-placeholder {
      color: #ebebeb;
      opacity: 1;
      filter: alpha(opacity=100); }
    [data-background-color]:not([data-background-color="gray"]) .form-control:-ms-input-placeholder {
      color: #ebebeb;
      opacity: 1;
      filter: alpha(opacity=100); }
    [data-background-color]:not([data-background-color="gray"]) .form-control:focus {
      border-color: #FFFFFF;
      background-color: transparent;
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .has-success:after {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .has-danger:after {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .has-danger .form-control {
    background-color: transparent; }
  [data-background-color]:not([data-background-color="gray"]) .input-group-focus .input-group-text {
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .form-group.no-border.input-group-focus .input-group-text {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .input-group.no-border.input-group-focus .input-group-text {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"] {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:hover {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:focus {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:not(:disabled):not(.disabled):active {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:not(:disabled):not(.disabled):active:focus {
        background-color: transparent;
        border-color: #FFFFFF;
        color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:not(:disabled):not(.disabled).active {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:not(:disabled):not(.disabled).active:focus {
        background-color: transparent;
        border-color: #FFFFFF;
        color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:active:hover {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"].active:hover {
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .nav-tabs > .nav-item > .nav-link i.now-ui-icons {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .separator-line {
    background-color: rgba(255, 255, 255, 0.5); }
  [data-background-color]:not([data-background-color="gray"]) .footer.footer-white .footer-brand {
    color: initial; }
  [data-background-color]:not([data-background-color="gray"]) .footer.footer-white ul li > a.nav-link:not(.btn-icon) {
    color: initial; }
  [data-background-color]:not([data-background-color="gray"]) .card:not(.card-plain) .category {
    color: #9A9A9A;
    color: #9A9A9A;
    color: #9A9A9A; }
  [data-background-color]:not([data-background-color="gray"]) .card:not(.card-plain) .card-description {
    color: #9A9A9A; }
  [data-background-color]:not([data-background-color="gray"]) .card:not(.card-plain) .card-title {
    color: initial;
    color: initial; }
  [data-background-color]:not([data-background-color="gray"]) .carousel .carousel-inner {
    box-shadow: none; }
  [data-background-color]:not([data-background-color="gray"]) .info.info-horizontal .icon i {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .card-pricing.card-plain ul li {
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .card-pricing.card-plain ul li b {
      color: rgba(255, 255, 255, 0.8) !important; }
    [data-background-color]:not([data-background-color="gray"]) .card-pricing.card-plain ul li i {
      color: rgba(255, 255, 255, 0.8) !important; }
  [data-background-color]:not([data-background-color="gray"]) .card-footer .stats i {
    color: rgba(255, 255, 255, 0.5); }
  [data-background-color]:not([data-background-color="gray"]) .card-plain .category {
    color: rgba(255, 255, 255, 0.5); }
  [data-background-color]:not([data-background-color="gray"]) .card-header:after {
    color: rgba(255, 255, 255, 0.5); }
  [data-background-color]:not([data-background-color="gray"]) .card-category {
    color: rgba(255, 255, 255, 0.8) !important; }
  [data-background-color]:not([data-background-color="gray"]) .author span {
    color: rgba(255, 255, 255, 0.8) !important; }
  [data-background-color]:not([data-background-color="gray"]) .subscribe-line .form-control {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    color: #2c2c2c; }
    [data-background-color]:not([data-background-color="gray"]) .subscribe-line .form-control:last-child {
      border-left: 0 none; }
  [data-background-color]:not([data-background-color="gray"]) .subscribe-line .input-group-text {
    color: #555555;
    border: 1px solid #E3E3E3; }
  [data-background-color]:not([data-background-color="gray"]) .subscribe-line .form-group.no-border .input-group-text {
    color: #555555;
    border: 1px solid #E3E3E3; }
  [data-background-color]:not([data-background-color="gray"]) .subscribe-line .input-group.no-border .input-group-text {
    color: #555555;
    border: 1px solid #E3E3E3; }

[data-background-color]:not([data-background-color="gray"]).section-nucleo-icons .icons-container i:nth-child(6) {
  color: #FFFFFF; }

[data-background-color]:not([data-background-color="gray"]).card-pricing ul li {
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.2); }
  [data-background-color]:not([data-background-color="gray"]).card-pricing ul li i {
    color: rgba(255, 255, 255, 0.8) !important; }
  [data-background-color]:not([data-background-color="gray"]).card-pricing ul li b {
    color: rgba(255, 255, 255, 0.8) !important; }

[data-background-color]:not([data-background-color="gray"]).card-pricing .icon i {
  border-color: rgba(255, 255, 255, 0.2); }

[data-background-color]:not([data-background-color="gray"]).card a:not(.btn):not(.dropdown-item) {
  color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]).card a:not(.btn):not(.dropdown-item):hover {
    border-color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]).card a:not(.btn):not(.dropdown-item):focus {
    border-color: #FFFFFF; }

[data-background-color]:not([data-background-color="gray"]).footer hr {
  border-color: rgba(255, 255, 255, 0.2); }

[data-background-color]:not([data-background-color="gray"]).card-plain .category {
  color: rgba(255, 255, 255, 0.5); }

[data-background-color] .social-line h1 {
  color: initial; }

[data-background-color] .social-line h2 {
  color: initial; }

[data-background-color] .social-line h3 {
  color: initial; }

[data-background-color] .social-line h4 {
  color: initial; }

[data-background-color] .social-line h5 {
  color: initial; }

[data-background-color] .social-line h6 {
  color: initial; }

[data-background-color] .social-line .btn.btn-simple {
  border: 0; }
