body .wrapper .contact-me-header {
  background-image: url("~@img/dublin-contact.jpg"); }

body .wrapper .form-container {
  width: 400px;
  margin: 20px auto; }

body .wrapper .note-container {
  text-align: center;
  margin-top: 20px; }

body .wrapper .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; }

body .wrapper .notes-header {
  background-image: url("~@img/dublin-contact.jpg"); }

body .wrapper .homepage-about-me {
  background-image: url("~@img/rafael-mendes.jpg"); }

.presentation-page .wrapper .page-header {
  background: #83c1d8; }
  .presentation-page .wrapper .page-header .rellax-header {
    position: absolute;
    height: 100%;
    width: 100%; }
  .presentation-page .wrapper .page-header .rellax-header-sky {
    z-index: 0;
    height: 50%; }
  .presentation-page .wrapper .page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("~@img/brasil-up.png"); }
  .presentation-page .wrapper .page-header .page-header-city {
    background-image: url("~@img/brasil-down.png");
    background-size: cover;
    background-position: bottom;
    top: 44.4%;
    background-repeat: no-repeat; }
  .presentation-page .wrapper .page-header .rellax-header-buildings {
    z-index: 2; }

.presentation-page .wrapper .page-header-homepage #fly-container {
  display: flex; }
  .presentation-page .wrapper .page-header-homepage #fly-container .fly-description {
    position: absolute;
    z-index: 3;
    text-align: center;
    top: 120%;
    box-shadow: 0 0 0 4px #308ac94d;
    margin: 17px;
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .presentation-page .wrapper .page-header-homepage #fly-container .fly-description:hover {
      background: radial-gradient(ellipse at center, #0080ac3d 0%, #0080ac9c 70%, rgba(0, 128, 172, 0) 70.3%);
      font-weight: bold;
      color: #fff;
      width: 220px;
      height: 60px; }
      .presentation-page .wrapper .page-header-homepage #fly-container .fly-description:hover::before, .presentation-page .wrapper .page-header-homepage #fly-container .fly-description:hover .text {
        display: flex; }
      .presentation-page .wrapper .page-header-homepage #fly-container .fly-description:hover:after {
        -webkit-animation: spinAround 0.3s ease-out 1;
        -moz-animation: spinAround 0.3s ease-out 1;
        animation: spinAround 0.3s ease-out 1; }
    .presentation-page .wrapper .page-header-homepage #fly-container .fly-description::before {
      height: 22px;
      font-size: 140px;
      top: -20px;
      display: none; }
    .presentation-page .wrapper .page-header-homepage #fly-container .fly-description .text::before, .presentation-page .wrapper .page-header-homepage #fly-container .fly-description p::before {
      width: 0px; }
    .presentation-page .wrapper .page-header-homepage #fly-container .fly-description .text {
      font-size: 0.5em;
      display: none;
      padding: 8px;
      background: none; }
      .presentation-page .wrapper .page-header-homepage #fly-container .fly-description .text p {
        color: inherit;
        font-size: 16px;
        line-height: 1.18;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
        padding: 0px; }
    .presentation-page .wrapper .page-header-homepage #fly-container .fly-description:nth-child(1) {
      order: 1;
      left: 0%; }
    .presentation-page .wrapper .page-header-homepage #fly-container .fly-description:nth-child(2) {
      order: 2;
      left: 0%;
      top: 100%; }
    .presentation-page .wrapper .page-header-homepage #fly-container .fly-description:nth-child(3) {
      order: 3;
      right: 0%; }
    .presentation-page .wrapper .page-header-homepage #fly-container .fly-description:nth-child(4) {
      order: 4;
      right: 0%;
      top: 100%; }

.presentation-page .loader {
  opacity: 0;
  display: block;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1031;
  margin-left: -32px;
  margin-top: -32px; }

.presentation-page .section-basic-components, .presentation-page .section-testimonials {
  overflow: hidden; }

.presentation-page .loader.visible {
  display: block;
  opacity: 1; }

.presentation-page .modal-content {
  background-color: transparent;
  box-shadow: 0 0 0; }

.presentation-page .modal-backdrop.in {
  opacity: 0.45; }

.presentation-page .preload-image {
  display: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1); }

.presentation-page .section-components .col-md-3 {
  max-width: 16%;
  padding-left: 100px; }

.presentation-page .section-icons {
  padding: 180px 0; }
  .presentation-page .section-icons [class*="col-"]:nth-child(2) {
    padding: 0 70px; }
  .presentation-page .section-icons[data-background-color="black"] {
    background-color: #777777; }
  .presentation-page .section-icons .icons-nucleo {
    width: 100%;
    height: 100%;
    position: relative;
    top: -48px; }
    .presentation-page .section-icons .icons-nucleo .now-ui-icons {
      position: absolute;
      color: #fff;
      transform: translate3D(0px, 50px, 0px);
      -webkit-transform: translate3D(0px, 50px, 0px);
      -webkit-transition: all 0.6s cubic-bezier(0.34, 2, 0.7, 1) 0s;
      -moz-transition: all 0.6s cubic-bezier(0.34, 2, 0.7, 1) 0s;
      -o-transition: all 0.6s cubic-bezier(0.34, 2, 0.7, 1) 0s;
      -ms-transition: all 0.6s cubic-bezier(0.34, 2, 0.7, 1) 0s;
      transition: all 0.6s cubic-bezier(0.34, 2, 0.7, 1) 0s; }
    .presentation-page .section-icons .icons-nucleo .first-left-icon {
      top: -25%;
      left: 10%;
      font-size: 65px; }
    .presentation-page .section-icons .icons-nucleo .second-left-icon {
      top: 0%;
      left: 45%;
      font-size: 35px; }
    .presentation-page .section-icons .icons-nucleo .third-left-icon {
      top: 30%;
      left: 65%;
      font-size: 25px; }
    .presentation-page .section-icons .icons-nucleo .fourth-left-icon {
      top: 70%;
      left: 10%;
      font-size: 50px; }
    .presentation-page .section-icons .icons-nucleo .fifth-left-icon {
      top: 45%;
      left: 30%;
      font-size: 40px; }
    .presentation-page .section-icons .icons-nucleo .sixth-left-icon {
      top: 120%;
      left: 35%;
      font-size: 40px; }
    .presentation-page .section-icons .icons-nucleo .seventh-left-icon {
      top: 35%;
      left: 85%;
      font-size: 45px; }
    .presentation-page .section-icons .icons-nucleo .eighth-left-icon {
      top: 90%;
      left: 55%;
      font-size: 30px; }
    .presentation-page .section-icons .icons-nucleo .ninth-left-icon {
      top: 40%;
      left: 5%;
      font-size: 40px; }
    .presentation-page .section-icons .icons-nucleo .tenth-left-icon {
      top: 75%;
      left: 80%;
      font-size: 35px; }
    .presentation-page .section-icons .icons-nucleo .first-right-icon {
      top: -25%;
      right: 10%;
      font-size: 65px; }
    .presentation-page .section-icons .icons-nucleo .second-right-icon {
      top: 0%;
      right: 45%;
      font-size: 35px; }
    .presentation-page .section-icons .icons-nucleo .third-right-icon {
      top: 30%;
      right: 65%;
      font-size: 25px; }
    .presentation-page .section-icons .icons-nucleo .fourth-right-icon {
      top: 70%;
      right: 10%;
      font-size: 50px; }
    .presentation-page .section-icons .icons-nucleo .fifth-right-icon {
      top: 45%;
      right: 30%;
      font-size: 40px; }
    .presentation-page .section-icons .icons-nucleo .sixth-right-icon {
      top: 120%;
      right: 35%;
      font-size: 35px; }
    .presentation-page .section-icons .icons-nucleo .seventh-right-icon {
      top: 35%;
      right: 88%;
      font-size: 30px; }
    .presentation-page .section-icons .icons-nucleo .eighth-right-icon {
      top: 90%;
      right: 55%;
      font-size: 35px; }
    .presentation-page .section-icons .icons-nucleo .ninth-right-icon {
      top: 40%;
      right: 5%;
      font-size: 40px; }
    .presentation-page .section-icons .icons-nucleo .tenth-right-icon {
      top: 75%;
      right: 80%;
      font-size: 35px; }

.presentation-page .section-cards .image-container1, .presentation-page .section-cards .image-container2, .presentation-page .section-cards .image-container3, .presentation-page .section-cards .image-container4, .presentation-page .section-cards .image-container5 {
  display: inline-block;
  position: relative;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.1875rem;
  overflow: hidden; }

.presentation-page .section-cards .image-container1 {
  left: 48px; }

.presentation-page .section-cards .image-container5 {
  right: 48px; }

.presentation-page .section-cards .image-container2 {
  left: 25px; }

.presentation-page .section-cards .image-container4 {
  right: 25px; }

.presentation-page .section-cards .images-container {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px; }

.presentation-page .section-cards .image-container1, .presentation-page .section-cards .image-container5 {
  width: 16%;
  top: -53px;
  z-index: 1; }

.presentation-page .section-cards .image-container2, .presentation-page .section-cards .image-container4 {
  width: 22%;
  top: -27px;
  z-index: 2; }

.presentation-page .section-cards .image-container3 {
  width: 22%;
  z-index: 3; }

.presentation-page .section-cards + .section-content {
  padding-top: 480px;
  padding-bottom: 30px;
  margin-top: -277px; }

.presentation-page .page-header + .section-components {
  padding-top: 300px; }

.presentation-page .colors {
  padding: 100px 0; }

.presentation-page > .description {
  padding-top: 20px; }

.presentation-page .section-rotation {
  padding: 140px 0; }

.presentation-page .section-images {
  padding: 80px 0; }

.presentation-page .section-thin {
  padding: 0; }

.presentation-page .section-pay {
  padding-top: 20px; }

.presentation-page .colors {
  padding: 70px 0;
  z-index: 7;
  position: relative;
  margin-top: -300px;
  border-top: 1px solid #DDDDDD; }

.presentation-page .card-container {
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  perspective: 900px;
  width: 300px;
  position: relative;
  margin-top: 90px; }

.presentation-page .card-component {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  height: 500px; }
  .presentation-page .card-component .front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    -o-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    width: 100%;
    cursor: pointer;
    box-shadow: 10px 4px 14px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    overflow: hidden; }

.presentation-page h5.description {
  margin-top: 35px; }

.presentation-page .category {
  text-transform: uppercase; }

.presentation-page .section-basic-components {
  padding: 190px 0; }
  .presentation-page .section-basic-components .title {
    margin-top: 60px; }
  .presentation-page .section-basic-components .image-container {
    height: 380px;
    position: relative; }
    .presentation-page .section-basic-components .image-container .components-macbook {
      width: auto;
      left: 100px;
      top: 0;
      height: auto;
      position: absolute; }
    .presentation-page .section-basic-components .image-container .table-img, .presentation-page .section-basic-components .image-container .share-btn-img, .presentation-page .section-basic-components .image-container .coloured-card-btn-img, .presentation-page .section-basic-components .image-container .coloured-card-img, .presentation-page .section-basic-components .image-container .social-img, .presentation-page .section-basic-components .image-container .linkedin-btn-img {
      position: absolute;
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
    .presentation-page .section-basic-components .image-container .table-img {
      left: 65%;
      top: 23%;
      height: 175px;
      border-radius: 3px; }
    .presentation-page .section-basic-components .image-container .share-btn-img {
      left: 83%;
      top: 95%;
      height: 25px;
      border-radius: 10px; }
    .presentation-page .section-basic-components .image-container .coloured-card-img {
      left: 50%;
      top: -11%;
      height: 102px;
      border-radius: 3px; }
    .presentation-page .section-basic-components .image-container .coloured-card-btn-img {
      left: -3%;
      top: 42%;
      height: 133px;
      border-radius: 3px; }
    .presentation-page .section-basic-components .image-container .social-img {
      left: -4%;
      top: 95%;
      height: 57px; }
    .presentation-page .section-basic-components .image-container .linkedin-btn-img {
      left: 3%;
      top: -3%;
      height: 25px;
      border-radius: 10px; }

.presentation-page .section-components + .section {
  margin-top: -270px;
  z-index: 7;
  position: relative;
  border-top: 1px solid rgba(231, 231, 231, 0.5); }

.presentation-page .info {
  max-width: 410px; }

.presentation-page .section-free-demo {
  overflow: hidden; }
  .presentation-page .section-free-demo .github-buttons > .btn {
    float: left;
    margin-right: 15px; }
  .presentation-page .section-free-demo .github-buttons .github-button {
    float: left;
    margin-top: 15px; }
  .presentation-page .section-free-demo .github-background-container {
    position: absolute;
    right: -420px;
    top: -50px; }
    .presentation-page .section-free-demo .github-background-container i {
      font-size: 810px;
      opacity: .1; }

.presentation-page .section-sections {
  overflow: hidden;
  padding-top: 200px; }
  .presentation-page .section-sections .container-fluid {
    z-index: 1; }
    .presentation-page .section-sections .container-fluid img {
      position: relative;
      z-index: 2; }

.presentation-page .section-examples {
  margin-top: -125px; }
  .presentation-page .section-examples .section-description {
    margin-top: 100px; }

.presentation-page .section-testimonials {
  padding-bottom: 0; }
  .presentation-page .section-testimonials[data-background-color="black"] {
    background: #181818; }
  .presentation-page .section-testimonials .carousel .card {
    margin: 40px auto; }
  .presentation-page .section-testimonials .testimonials-people {
    margin-top: -100px; }

.presentation-page .section-pricing .our-clients {
  margin-bottom: 100px;
  margin-top: 50px; }
  .presentation-page .section-pricing .our-clients img {
    width: 100%;
    max-width: 120px;
    margin: 0 30px;
    display: inline-block; }

.presentation-page .section-sharing span {
  margin-top: 30px;
  display: block; }

.presentation-page .section-sharing .fa-pay {
  font-size: 30px;
  display: inline-block;
  margin: 5px 1px 0;
  width: auto; }

.presentation-page .section-components {
  z-index: 1; }

.presentation-page .front img {
  z-index: 2;
  position: relative; }

.presentation-page .card-component img {
  width: 100%; }

.presentation-page .description .col-md-3 {
  width: 16%;
  margin-left: 4%; }

.presentation-page .first-card {
  z-index: 6; }

.presentation-page .second-card {
  z-index: 5; }

.presentation-page .third-card {
  z-index: 4; }

.presentation-page .fourth-card {
  z-index: 3; }

.presentation-page .section-gray h1 small {
  color: #888888; }

.presentation-page .color-container {
  text-align: center; }
  .presentation-page .color-container img {
    width: 100%;
    margin-bottom: 10px; }

.presentation-page .circle-color {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: block;
  background-color: #cccccc;
  margin: 0 auto; }

.presentation-page .circle-red {
  background-color: #ff3b30; }

.presentation-page .circle-blue {
  background-color: #3472f7; }

.presentation-page .circle-azure {
  background-color: #2ca8ff; }

.presentation-page .circle-green {
  background-color: #05ae0e; }

.presentation-page .circle-orange {
  background-color: #ff9500; }

.presentation-page .rellax-text-container {
  max-width: 1003px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 2%;
  padding: 0px 200px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .presentation-page .rellax-text-container {
      margin: 0 auto;
      text-align: left;
      position: relative;
      padding: 0px 190px; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .presentation-page .rellax-text-container {
      margin: 0 auto;
      text-align: left;
      position: relative;
      padding: 0px 180px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    .presentation-page .rellax-text-container {
      padding: 0px 150px;
      left: 4%;
      top: 4%; } }
  @media (min-width: 320px) and (max-width: 480px) {
    .presentation-page .rellax-text-container {
      padding: 0px 30px;
      top: 8%; } }
  .presentation-page .rellax-text-container .h1-seo {
    font-weight: 700;
    font-family: 'Allyca monoline', sans-serif;
    z-index: 1;
    text-align: left;
    background: -moz-linear-gradient(to bottom, #BBB 20%, #30CFD0 90%);
    background: -webkit-linear-gradient(to bottom, #BBB 20%, #30CFD0 90%);
    background: linear-gradient(to bottom, #BBB 20%, #30CFD0 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
    letter-spacing: 0.46em; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .presentation-page .rellax-text-container .h1-seo {
        font-size: 2.6em; } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .presentation-page .rellax-text-container .h1-seo {
        font-size: 3.6em; } }
    @media (min-width: 481px) and (max-width: 767px) {
      .presentation-page .rellax-text-container .h1-seo {
        font-size: 2.2em; } }
    @media (min-width: 320px) and (max-width: 480px) {
      .presentation-page .rellax-text-container .h1-seo {
        font-size: 2em; } }

@-webkit-keyframes fontgradient {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 100% 100%; }
  750% {
    background-position: 50% 50%; }
  100% {
    background-position: 100% 100%; } }

@-moz-keyframes fontgradient {
  0% {
    background-position: 0% 92%; }
  50% {
    background-position: 100% 9%; }
  100% {
    background-position: 0% 92%; } }

@keyframes fontgradient {
  0% {
    background-position: 0% 92%; }
  50% {
    background-position: 100% 9%; }
  100% {
    background-position: 0% 92%; } }

body .wrapper .section-github .github-buttons a {
  background: linear-gradient(166deg, #009C3B, green, #ffdf00) 481px 0/25em 10%; }
  body .wrapper .section-github .github-buttons a:hover {
    background: linear-gradient(261deg, #009C3B, green, #ffdf00) 0px 0/20em 100%; }

body .wrapper .section-github .card-background {
  background: white;
  max-height: 380px;
  -webkit-tap-highlight-color: white;
  border: 16px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #009C3B 0%, #ffdf00 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #009C3B 0%, #ffdf00 100%);
  border-image: linear-gradient(to right, #009C3B 0%, #ffdf00 100%);
  border-image-slice: 1; }
  body .wrapper .section-github .card-background:after {
    background: none; }
  body .wrapper .section-github .card-background:hover {
    background: #ffc10761; }
  body .wrapper .section-github .card-background ul {
    margin: 10px auto 0px auto; }
    body .wrapper .section-github .card-background ul li {
      padding: 6px 0;
      color: #666; }
  body .wrapper .section-github .card-background .card-title {
    margin-top: 10px;
    color: #666; }

body .wrapper .section-github .github-column .github-background-container {
  display: flex;
  align-items: flex-end;
  justify-content: end; }
  body .wrapper .section-github .github-column .github-background-container .fa-github {
    font-size: 40rem;
    padding: 0px 0px 0px 20px;
    float: left;
    background: linear-gradient(225deg, #009c3b, #009c3b, #ffdf00) 0 0/3em 100%;
    -webkit-background-clip: text;
    background-clip: text;
    width: auto;
    text-align: center;
    -webkit-text-fill-color: transparent;
    animation: fontgradient 4s ease infinite; }

@media (min-width: 768px) and (max-width: 1024px) {
  body .wrapper .section-github .github-column {
    display: none; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body .wrapper .section-github .card-background .card-body {
    max-height: 435px; }
  body .wrapper .section-github .github-column {
    display: flex; }
    body .wrapper .section-github .github-column .github-background-container {
      align-items: center; }
      body .wrapper .section-github .github-column .github-background-container .fa-github {
        font-size: 20rem; } }

@media (min-width: 481px) and (max-width: 767px) {
  body .wrapper .section-github .card-background {
    margin: 0px auto;
    max-width: 21em;
    max-height: 400px; }
  body .wrapper .section-github .github-column {
    display: none; } }

@media (min-width: 320px) and (max-width: 480px) {
  body .wrapper .section-github .github-buttons a {
    display: flex;
    justify-content: center;
    margin: 30px auto -10px auto;
    max-width: 180px;
    background: linear-gradient(166deg, #009C3B, green, #ffdf00) 525px 0/25em 10%; }
  body .wrapper .section-github .card-background {
    margin: 0px auto;
    max-width: 21em;
    display: flex;
    justify-content: center; }
  body .wrapper .section-github .github-column {
    display: none; } }

.footer {
  padding: 1.125rem 0;
  text-align: center; }
  .footer nav {
    display: inline-block;
    float: left; }
  .footer .content {
    text-align: left; }
  .footer .nav-link {
    display: inline; }
  .footer .footer-brand {
    float: left;
    font-size: 0.875rem;
    line-height: 44px; }
  .footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none; }
    .footer ul:not(.links-vertical) {
      line-height: 3.1; }
    .footer ul li {
      display: inline-block; }
      .footer ul li a {
        color: inherit;
        padding: 13px 0.5rem;
        font-size: 0.8571em;
        text-transform: uppercase;
        text-decoration: none; }
        .footer ul li a:hover {
          text-decoration: none; }
  .footer ul.links-vertical {
    line-height: 1.6; }
    .footer ul.links-vertical li {
      display: block;
      margin-left: -5px;
      margin-right: -5px;
      margin-bottom: 0px; }
      .footer ul.links-vertical li a {
        padding: 5px;
        display: block; }
  .footer .social-buttons a {
    margin: 0; }
  .footer .social-buttons .btn {
    margin: 0; }
  .footer .pull-center {
    display: inline-block;
    float: none; }
  .footer .copyright {
    font-size: 0.8571em;
    line-height: 3.5; }
  .footer:after {
    display: table;
    clear: both;
    content: " "; }

.footer.footer-default {
  background-color: #f2f2f2; }

.footer.footer-white {
  background-color: #FFFFFF; }

.footer.footer-big {
  padding: 30px 0; }
  .footer.footer-big .social-feed i {
    font-size: 20px;
    float: left;
    padding-right: 10px;
    padding-bottom: 30px; }
  .footer.footer-big .gallery-feed img {
    width: 20%;
    margin-right: 5%;
    margin-bottom: 5%;
    float: left; }

[data-background-color="orange"] {
  background-color: #e95e38; }

[data-background-color="black"] {
  background-color: #2c2c2c; }

[data-background-color]:not([data-background-color="gray"]) {
  color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .title {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .social-description h2 {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .social-description p {
    color: rgba(255, 255, 255, 0.8); }
  [data-background-color]:not([data-background-color="gray"]) p {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) p.blockquote {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.2); }
    [data-background-color]:not([data-background-color="gray"]) p.blockquote small {
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .separator {
    background-color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .navbar.bg-white p {
    color: #888888; }
  [data-background-color]:not([data-background-color="gray"]) h1 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) h2 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) h3 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) h4 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) h5 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) h6 {
    color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item):not(.card-link) {
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .icons-container {
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .icons-container i {
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .input-group-text {
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8); }
  [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .input-group-text {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8); }
  [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control:focus {
      background-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control:focus + .input-group-text {
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control:active {
      background-color: rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF;
      color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control + .input-group-text {
      background-color: rgba(255, 255, 255, 0.1); }
      [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control + .input-group-text:focus {
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .form-group.no-border .form-control + .input-group-text:active {
        background-color: rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF;
        color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .input-group-text {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FFFFFF;
    color: rgba(255, 255, 255, 0.8); }
  [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control:focus {
      background-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control:focus + .input-group-text {
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control:active {
      background-color: rgba(255, 255, 255, 0.2);
      background-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF;
      color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control + .input-group-text {
      background-color: rgba(255, 255, 255, 0.1); }
      [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control + .input-group-text:focus {
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control + .input-group-text:active {
        background-color: rgba(255, 255, 255, 0.2);
        background-color: rgba(255, 255, 255, 0.2);
        color: #FFFFFF;
        color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .description {
    color: rgba(255, 255, 255, 0.8); }
  [data-background-color]:not([data-background-color="gray"]) .checkbox label {
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .checkbox label::before {
      border-color: rgba(255, 255, 255, 0.2); }
    [data-background-color]:not([data-background-color="gray"]) .checkbox label::after {
      border-color: rgba(255, 255, 255, 0.2);
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .checkbox input[type="checkbox"]:disabled + label {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .radio label {
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .radio label::before {
      border-color: rgba(255, 255, 255, 0.2); }
    [data-background-color]:not([data-background-color="gray"]) .radio label::after {
      border-color: rgba(255, 255, 255, 0.2); }
  [data-background-color]:not([data-background-color="gray"]) .radio input[type="radio"]:disabled + label {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .radio input[type="radio"]:not(:disabled):hover + label::after {
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .radio input[type="radio"]:checked + label::after {
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .form-control {
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .form-control::-moz-placeholder {
      color: #ebebeb;
      opacity: 1;
      filter: alpha(opacity=100); }
    [data-background-color]:not([data-background-color="gray"]) .form-control:-moz-placeholder {
      color: #ebebeb;
      opacity: 1;
      filter: alpha(opacity=100); }
    [data-background-color]:not([data-background-color="gray"]) .form-control::-webkit-input-placeholder {
      color: #ebebeb;
      opacity: 1;
      filter: alpha(opacity=100); }
    [data-background-color]:not([data-background-color="gray"]) .form-control:-ms-input-placeholder {
      color: #ebebeb;
      opacity: 1;
      filter: alpha(opacity=100); }
    [data-background-color]:not([data-background-color="gray"]) .form-control:focus {
      border-color: #FFFFFF;
      background-color: transparent;
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .has-success:after {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .has-danger:after {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .has-danger .form-control {
    background-color: transparent; }
  [data-background-color]:not([data-background-color="gray"]) .input-group-focus .input-group-text {
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .form-group.no-border.input-group-focus .input-group-text {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .input-group.no-border.input-group-focus .input-group-text {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"] {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:hover {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:focus {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:not(:disabled):not(.disabled):active {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:not(:disabled):not(.disabled):active:focus {
        background-color: transparent;
        border-color: #FFFFFF;
        color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:not(:disabled):not(.disabled).active {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF; }
      [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:not(:disabled):not(.disabled).active:focus {
        background-color: transparent;
        border-color: #FFFFFF;
        color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"]:active:hover {
      background-color: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .btn[class*="btn-outline-"].active:hover {
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .nav-tabs > .nav-item > .nav-link i.now-ui-icons {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .separator-line {
    background-color: rgba(255, 255, 255, 0.5); }
  [data-background-color]:not([data-background-color="gray"]) .footer.footer-white .footer-brand {
    color: initial; }
  [data-background-color]:not([data-background-color="gray"]) .footer.footer-white ul li > a.nav-link:not(.btn-icon) {
    color: initial; }
  [data-background-color]:not([data-background-color="gray"]) .card:not(.card-plain) .category {
    color: #9A9A9A;
    color: #9A9A9A;
    color: #9A9A9A; }
  [data-background-color]:not([data-background-color="gray"]) .card:not(.card-plain) .card-description {
    color: #9A9A9A; }
  [data-background-color]:not([data-background-color="gray"]) .card:not(.card-plain) .card-title {
    color: initial;
    color: initial; }
  [data-background-color]:not([data-background-color="gray"]) .carousel .carousel-inner {
    box-shadow: none; }
  [data-background-color]:not([data-background-color="gray"]) .info.info-horizontal .icon i {
    color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]) .card-pricing.card-plain ul li {
    color: #FFFFFF; }
    [data-background-color]:not([data-background-color="gray"]) .card-pricing.card-plain ul li b {
      color: rgba(255, 255, 255, 0.8) !important; }
    [data-background-color]:not([data-background-color="gray"]) .card-pricing.card-plain ul li i {
      color: rgba(255, 255, 255, 0.8) !important; }
  [data-background-color]:not([data-background-color="gray"]) .card-footer .stats i {
    color: rgba(255, 255, 255, 0.5); }
  [data-background-color]:not([data-background-color="gray"]) .card-plain .category {
    color: rgba(255, 255, 255, 0.5); }
  [data-background-color]:not([data-background-color="gray"]) .card-header:after {
    color: rgba(255, 255, 255, 0.5); }
  [data-background-color]:not([data-background-color="gray"]) .card-category {
    color: rgba(255, 255, 255, 0.8) !important; }
  [data-background-color]:not([data-background-color="gray"]) .author span {
    color: rgba(255, 255, 255, 0.8) !important; }
  [data-background-color]:not([data-background-color="gray"]) .subscribe-line .form-control {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    color: #2c2c2c; }
    [data-background-color]:not([data-background-color="gray"]) .subscribe-line .form-control:last-child {
      border-left: 0 none; }
  [data-background-color]:not([data-background-color="gray"]) .subscribe-line .input-group-text {
    color: #555555;
    border: 1px solid #E3E3E3; }
  [data-background-color]:not([data-background-color="gray"]) .subscribe-line .form-group.no-border .input-group-text {
    color: #555555;
    border: 1px solid #E3E3E3; }
  [data-background-color]:not([data-background-color="gray"]) .subscribe-line .input-group.no-border .input-group-text {
    color: #555555;
    border: 1px solid #E3E3E3; }

[data-background-color]:not([data-background-color="gray"]).section-nucleo-icons .icons-container i:nth-child(6) {
  color: #FFFFFF; }

[data-background-color]:not([data-background-color="gray"]).card-pricing ul li {
  color: #FFFFFF;
  border-color: rgba(255, 255, 255, 0.2); }
  [data-background-color]:not([data-background-color="gray"]).card-pricing ul li i {
    color: rgba(255, 255, 255, 0.8) !important; }
  [data-background-color]:not([data-background-color="gray"]).card-pricing ul li b {
    color: rgba(255, 255, 255, 0.8) !important; }

[data-background-color]:not([data-background-color="gray"]).card-pricing .icon i {
  border-color: rgba(255, 255, 255, 0.2); }

[data-background-color]:not([data-background-color="gray"]).card a:not(.btn):not(.dropdown-item) {
  color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]).card a:not(.btn):not(.dropdown-item):hover {
    border-color: #FFFFFF; }
  [data-background-color]:not([data-background-color="gray"]).card a:not(.btn):not(.dropdown-item):focus {
    border-color: #FFFFFF; }

[data-background-color]:not([data-background-color="gray"]).footer hr {
  border-color: rgba(255, 255, 255, 0.2); }

[data-background-color]:not([data-background-color="gray"]).card-plain .category {
  color: rgba(255, 255, 255, 0.5); }

[data-background-color] .social-line h1 {
  color: initial; }

[data-background-color] .social-line h2 {
  color: initial; }

[data-background-color] .social-line h3 {
  color: initial; }

[data-background-color] .social-line h4 {
  color: initial; }

[data-background-color] .social-line h5 {
  color: initial; }

[data-background-color] .social-line h6 {
  color: initial; }

[data-background-color] .social-line .btn.btn-simple {
  border: 0; }

body .wrapper .page-header {
  min-height: 8vh;
  max-height: 80px;
  background-color: #2c2c2c; }
