@import "public/scss/global/mixin/_vendor-prefixes.scss";
@import "public/scss/global/variables";

body {
  .wrapper {
    #contact-me {
      .input-group-focus {
        textarea {
          &:focus {
            @include transition-input-focus-color();

            border: 1px solid #f96332;
            border-left: none;

            box-shadow: none;
            outline: 0!important;
            color: #2c2c2c;
            border-top: none;
            border-right: none;
          }
        }
        .field.form-control{
          @include transition-input-focus-color();

          border: 1px solid #f96332;
          border-left: none;

          box-shadow: none;
          outline: 0!important;
          color: #2c2c2c;
        }
      }
      .form-textarea{
        border:none !important;
      }
      div.form-control {
        padding: 0px;
        div[id*='error-message']{
          float: left;
          position: absolute;
          right: 10%;
          margin: 0px 0px;
          line-height: 18px;
          vertical-align: middle;
        }
        div#message-error-message {
          bottom: 6%;
        }
        &:focus{
          border:none !important;
        }
      }
      .ui.input{
        width: 97%;
        height: 100%;
        input, textarea {
          border: none;
        }
      }
      div.form-group{
        textarea{
          margin: 10px;
          resize: none;
          border: none;
          border-bottom: 1px solid #e3e3e3;
          border-radius: 0;
          line-height: 2;
          max-width: 96%;
          max-height: 130px;
        }
      }
      input.form-control{
        background-color: $transparent-bg;
        border: 1px solid $light-gray;
        border-radius: $btn-round-radius;
        color: $black-color;
        height: auto;
        line-height: normal;
        font-size: $font-size-small;
        @include transition-input-focus-color();
        @include box-shadow(none);
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 80%;

      }

      input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
        background-color: rgb(250, 255, 189);
        background-image: none;
        color: rgb(0, 0, 0);
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus
      input:-webkit-autofill,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px white inset!important;
      }
    }
  }
}

// Tablet  (portrait)
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    .wrapper {
    }
  }
}

// Tablet  (landscape)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    .wrapper {
    }
  }
}

// Mobile Landscaoe
@media (min-width: 481px) and (max-width: 767px) {
  body {
    .wrapper {
    }
  }
}

// Mobile Portrait
@media (min-width: 320px) and (max-width: 480px) {
  body {
    .wrapper {
    }
  }
}