/*     brand Colors              */
/*      light colors         */
body .wrapper #contact-me .input-group-focus textarea:focus {
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border: 1px solid #f96332;
  border-left: none;
  box-shadow: none;
  outline: 0 !important;
  color: #2c2c2c;
  border-top: none;
  border-right: none; }

body .wrapper #contact-me .input-group-focus .field.form-control {
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  border: 1px solid #f96332;
  border-left: none;
  box-shadow: none;
  outline: 0 !important;
  color: #2c2c2c; }

body .wrapper #contact-me .form-textarea {
  border: none !important; }

body .wrapper #contact-me div.form-control {
  padding: 0px; }
  body .wrapper #contact-me div.form-control div[id*='error-message'] {
    float: left; }
  body .wrapper #contact-me div.form-control:focus {
    border: none !important; }

body .wrapper #contact-me .ui.input {
  width: 97%;
  height: 100%; }
  body .wrapper #contact-me .ui.input input, body .wrapper #contact-me .ui.input textarea {
    border: none; }

body .wrapper #contact-me div.form-group textarea {
  margin: 10px;
  resize: none;
  border: none;
  border-bottom: 1px solid #e3e3e3;
  border-radius: 0;
  line-height: 2;
  max-width: 96%;
  max-height: 130px; }

body .wrapper #contact-me input.form-control {
  background-color: transparent;
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  color: #2c2c2c;
  height: auto;
  line-height: normal;
  font-size: 0.8571em;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 80%; }

body .wrapper #contact-me input:-webkit-autofill, body .wrapper #contact-me textarea:-webkit-autofill, body .wrapper #contact-me select:-webkit-autofill {
  background-color: #faffbd;
  background-image: none;
  color: black; }

body .wrapper #contact-me input:-webkit-autofill,
body .wrapper #contact-me input:-webkit-autofill:hover,
body .wrapper #contact-me input:-webkit-autofill:focus
input:-webkit-autofill,
body .wrapper #contact-me textarea:-webkit-autofill,
body .wrapper #contact-me textarea:-webkit-autofill:hover,
body .wrapper #contact-me textarea:-webkit-autofill:focus,
body .wrapper #contact-me select:-webkit-autofill,
body .wrapper #contact-me select:-webkit-autofill:hover,
body .wrapper #contact-me select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; }
