#__next{
  .wrapper{
    .container{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

// Tablet  (portrait)
@media (min-width: 768px) and (max-width: 1024px) {
  #__next{
    .wrapper{
      .container{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

// Tablet  (landscape)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #__next{
    .wrapper{
      .container{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

// Mobile Landscaoe
@media (min-width: 481px) and (max-width: 767px) {
  #__next{
    .wrapper{
      .container{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

// Mobile Portrait
@media (min-width: 320px) and (max-width: 480px) {
  #__next{
    .wrapper{
      .container{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}