@font-face {
  font-family: 'Rude';
  src: url('../../fonts/Rude.ttf');
  //font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Allyca';
  src: url('../../fonts/Allyca.otf');
}

@font-face {
  font-family: 'Allyca hollow';
  src: url('../../fonts/Allyca_hollow.otf');
}
@font-face {
  font-family: 'Allyca monoline';
  src: url('../../fonts/Allyca_monoline.otf');
}