// Images, carousel & media — extracted from Now UI Kit Pro v1.3.0

img {
    max-width: 100%;
    border-radius: 1px; }

.img-raised {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3); }

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block; }

.carousel .carousel-inner {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.1875rem; }

.carousel .card {
    max-width: 650px;
    margin: 60px auto;
    display: block; }

.carousel-control-next, .carousel-control-prev {
    z-index: 1000; }
