// Nav pills & tabs — extracted from Now UI Kit Pro v1.3.0

.nav-pills.nav-pills-just-icons .nav-item .nav-link {
    text-align: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    padding: 0;
    max-width: 80px;
    min-width: auto;
    margin-bottom: 4px; }
.nav-pills.nav-pills-just-icons .nav-item .nav-link i {
    line-height: 80px; }

.nav-pills:not(.flex-column) .nav-item:not(:last-child) .nav-link {
    margin-right: 19px; }

.nav-pills .nav-item .nav-link {
    padding: 10px 23px;
    background-color: rgba(222, 222, 222, 0.3);
    min-width: 100px;
    font-weight: 400;
    text-align: center;
    color: #444; }
.nav-pills .nav-item .nav-link:hover {
    background-color: rgba(222, 222, 222, 0.3); }
.nav-pills .nav-item .nav-link.active, .nav-pills .nav-item .nav-link.active:focus, .nav-pills .nav-item .nav-link.active:hover {
    background-color: #9A9A9A;
    color: #FFFFFF;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3); }
.nav-pills .nav-item .nav-link.disabled, .nav-pills .nav-item .nav-link:disabled, .nav-pills .nav-item .nav-link[disabled] {
    opacity: .5; }

.nav-pills .nav-item i {
    display: block;
    line-height: 60px;
    font-size: 24px; }

.nav-pills.nav-pills-neutral .nav-item .nav-link {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF; }
.nav-pills.nav-pills-neutral .nav-item .nav-link.active, .nav-pills.nav-pills-neutral .nav-item .nav-link.active:focus, .nav-pills.nav-pills-neutral .nav-item .nav-link.active:hover {
    background-color: #FFFFFF;
    color: #f96332; }

.nav-pills.nav-pills-primary .nav-item .nav-link.active, .nav-pills.nav-pills-primary .nav-item .nav-link.active:focus, .nav-pills.nav-pills-primary .nav-item .nav-link.active:hover {
    background-color: #f96332; }

.nav-pills.nav-pills-info .nav-item .nav-link.active, .nav-pills.nav-pills-info .nav-item .nav-link.active:focus, .nav-pills.nav-pills-info .nav-item .nav-link.active:hover {
    background-color: #2CA8FF; }

.nav-pills.nav-pills-success .nav-item .nav-link.active, .nav-pills.nav-pills-success .nav-item .nav-link.active:focus, .nav-pills.nav-pills-success .nav-item .nav-link.active:hover {
    background-color: #18ce0f; }

.nav-pills.nav-pills-warning .nav-item .nav-link.active, .nav-pills.nav-pills-warning .nav-item .nav-link.active:focus, .nav-pills.nav-pills-warning .nav-item .nav-link.active:hover {
    background-color: #FFB236; }

.nav-pills.nav-pills-danger .nav-item .nav-link.active, .nav-pills.nav-pills-danger .nav-item .nav-link.active:focus, .nav-pills.nav-pills-danger .nav-item .nav-link.active:hover {
    background-color: #FF3636; }

.tab-space {
    padding: 20px 0 50px 0px; }

.nav-align-center {
    text-align: center; }
.nav-align-center .nav-pills {
    display: inline-flex; }

.nav-pills.flex-column li > a {
    margin-bottom: 15px; }

.nav-pills:not(.nav-pills-icons):not(.nav-pills-just-icons) .nav-item .nav-link {
    border-radius: 30px; }

.nav-pills.nav-pills-icons .nav-item .nav-link {
    background-color: transparent; }

.nav-pills.nav-pills-icons .nav-item i {
    font-size: 20px; }

.nav-tabs {
    border: 0;
    padding: 15px 0.7rem; }
.nav-tabs:not(.nav-tabs-neutral) > .nav-item > .nav-link.active {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3); }
.card .nav-tabs {
    border-top-right-radius: 0.1875rem;
    border-top-left-radius: 0.1875rem; }
.nav-tabs > .nav-item > .nav-link {
    color: #888888;
    margin: 0;
    margin-right: 5px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 14px;
    padding: 11px 23px;
    line-height: 1.5; }
.nav-tabs > .nav-item > .nav-link:hover {
    background-color: transparent; }
.nav-tabs > .nav-item > .nav-link.active {
    background-color: #444;
    border-radius: 30px;
    color: #FFFFFF; }
.nav-tabs > .nav-item > .nav-link i.now-ui-icons {
    font-size: 14px;
    position: relative;
    top: 1px;
    margin-right: 3px; }
.nav-tabs > .nav-item.disabled > .nav-link,
.nav-tabs > .nav-item.disabled > .nav-link:hover {
    color: rgba(255, 255, 255, 0.5); }
.nav-tabs.nav-tabs-neutral > .nav-item > .nav-link {
    color: #FFFFFF; }
.nav-tabs.nav-tabs-neutral > .nav-item > .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF; }
.nav-tabs.nav-tabs-primary > .nav-item > .nav-link.active {
    background-color: #f96332; }
.nav-tabs.nav-tabs-info > .nav-item > .nav-link.active {
    background-color: #2CA8FF; }
.nav-tabs.nav-tabs-danger > .nav-item > .nav-link.active {
    background-color: #FF3636; }
.nav-tabs.nav-tabs-warning > .nav-item > .nav-link.active {
    background-color: #FFB236; }
.nav-tabs.nav-tabs-success > .nav-item > .nav-link.active {
    background-color: #18ce0f; }
