// Table styles — extracted from Now UI Kit Pro v1.3.0

.table .btn {
    margin: 0; }

.table .form-check,
.table .form-check.form-check-radio {
    margin: 0;
    padding: 0;
    width: 15px; }
.table .form-check .icons,
.table .form-check.form-check-radio .icons {
    position: relative; }
.table .form-check label.form-check-label .form-check-sign:after, .table .form-check label.form-check-label .form-check-sign:before,
.table .form-check.form-check-radio label.form-check-label .form-check-sign:after,
.table .form-check.form-check-radio label.form-check-label .form-check-sign:before {
    top: -17px;
    left: -3px; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 12px 7px;
    vertical-align: middle; }

.table .th-description {
    max-width: 150px; }

.table .td-price {
    font-size: 26px;
    font-weight: 300;
    margin-top: 5px;
    position: relative;
    top: 4px;
    text-align: right; }

.table .td-total {
    font-weight: 700;
    font-size: 1.3em;
    padding-top: 20px;
    text-align: right; }

.table .td-actions .btn {
    margin: 0px; }

.table > tbody > tr {
    position: relative; }

.table-shopping > thead > tr > th {
    font-size: 0.9em;
    text-transform: uppercase; }

.table-shopping > tbody > tr > td {
    font-size: 1.2em; }
.table-shopping > tbody > tr > td b {
    display: block;
    margin-bottom: 5px; }

.table-shopping .td-name {
    font-weight: 400;
    font-size: 1.5em; }
.table-shopping .td-name small {
    color: #9A9A9A;
    font-size: 0.75em;
    font-weight: 300; }

.table-shopping .td-number {
    font-weight: 300;
    font-size: 1.5em; }

.table-shopping .td-name {
    min-width: 200px; }

.table-shopping .td-number {
    text-align: right;
    min-width: 145px; }
.table-shopping .td-number small {
    margin-right: 3px; }

.table-shopping .img-container {
    width: 120px;
    max-height: 160px;
    overflow: hidden;
    display: block; }
.table-shopping .img-container img {
    width: 100%; }

#tables .table-responsive {
    margin-bottom: 30px; }
