// Typography — extracted from Now UI Kit Pro v1.3.0

button,
input,
optgroup,
select,
textarea {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
    font-weight: 400; }

small {
    font-size: 60%; }

a {
    color: #f96332; }
a:hover, a:focus {
    color: #f96332; }

h1, .h1 {
    font-size: 3.5em;
    line-height: 1.15;
    margin-bottom: 30px; }
h1 small, .h1 small {
    font-weight: 700;
    text-transform: uppercase;
    opacity: .8; }

h2, .h2 {
    font-size: 2.5em;
    margin-bottom: 30px; }

h3, .h3 {
    font-size: 1.825em;
    margin-bottom: 30px;
    line-height: 1.4em; }

h4, .h4 {
    font-size: 1.5em;
    line-height: 1.45em;
    margin-top: 30px;
    margin-bottom: 15px; }
h4 + .category,
h4.title + .category, .h4 + .category,
.h4.title + .category {
    margin-top: -5px; }

h5, .h5 {
    font-size: 1.3em;
    line-height: 1.4em;
    margin-bottom: 15px; }
h5.category, .h5.category {
    font-weight: 400; }

h6, .h6 {
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase; }

p {
    line-height: 1.61em;
    font-weight: 300;
    font-size: 1.2em; }

.title {
    font-weight: 700;
    padding-top: 30px; }
.title.title-up {
    text-transform: uppercase; }
.title.title-up a {
    color: #2c2c2c;
    text-decoration: none; }
.title + .category {
    margin-top: -25px; }

.description,
.card-description,
.footer-big p {
    color: #9A9A9A;
    font-weight: 300; }

.category {
    text-transform: capitalize;
    font-weight: 700;
    color: #9A9A9A; }

.text-primary {
    color: #f96332 !important; }

.text-info {
    color: #2CA8FF !important; }

.text-success {
    color: #18ce0f !important; }

.text-warning {
    color: #FFB236 !important; }

.text-danger {
    color: #FF3636 !important; }

.text-black {
    color: #444; }

.blockquote {
    border-left: none;
    border: 1px solid #888888;
    padding: 20px;
    font-size: 1.1em;
    line-height: 1.8; }
.blockquote small {
    color: #888888;
    font-size: 0.8571em;
    text-transform: uppercase; }
.blockquote.blockquote-primary {
    border-color: #f96332;
    color: #f96332; }
.blockquote.blockquote-primary small {
    color: #f96332; }
.blockquote.blockquote-danger {
    border-color: #FF3636;
    color: #FF3636; }
.blockquote.blockquote-danger small {
    color: #FF3636; }
.blockquote.blockquote-white {
    border-color: rgba(255, 255, 255, 0.8);
    color: #FFFFFF; }
.blockquote.blockquote-white small {
    color: rgba(255, 255, 255, 0.8); }

body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; }

.main {
    position: relative;
    background: #FFFFFF; }

/* Animations */
.nav-pills .nav-link,
.nav-item .nav-link,
.navbar,
.nav-tabs .nav-link,
.tag,
.tag [data-role="remove"] {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s; }

.card a,
.bootstrap-switch-label:before {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s; }

.dropdown-toggle:after,
[data-toggle="collapse"][data-parent="#accordion"] i {
    -webkit-transition: transform 150ms ease 0s;
    -moz-transition: transform 150ms ease 0s;
    -o-transition: transform 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: transform 150ms ease 0s; }

.dropdown-toggle[aria-expanded="true"]:after,
[data-toggle="collapse"][data-parent="#accordion"][aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.button-bar {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #FFFFFF; }
.button-bar + .button-bar {
    margin-top: 7px; }
.button-bar:nth-child(2) {
    width: 17px; }

.separator-line {
    height: 2px;
    width: 44px;
    background-color: #888888;
    margin: 20px auto; }
.separator-line.separator-primary {
    background-color: #f96332; }

.section-space {
    height: 62px;
    display: block; }

.pull-left {
    float: left; }

.pull-right {
    float: right; }

.title-up {
    text-transform: uppercase; }

*:focus {
    outline: none; }

.blockquote.blockquote-info {
    border-color: #2CA8FF;
    color: #2CA8FF; }
.blockquote.blockquote-info small {
    color: #2CA8FF; }

.footer {
    padding: 1.125rem 0;
    text-align: center; }
.footer.footer-default {
    background-color: #f2f2f2; }
.footer.footer-white {
    background-color: #FFFFFF; }
.footer nav {
    display: inline-block;
    float: left; }
.footer .content {
    text-align: left; }
.footer .nav-link {
    display: inline; }
.footer.footer-big {
    padding: 30px 0; }
.footer.footer-big .social-feed i {
    font-size: 20px;
    float: left;
    padding-right: 10px;
    padding-bottom: 30px; }
.footer.footer-big .gallery-feed img {
    width: 20%;
    margin-right: 5%;
    margin-bottom: 5%;
    float: left; }
.footer .footer-brand {
    float: left;
    font-size: 0.875rem;
    line-height: 44px; }
.footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none; }
.footer ul:not(.links-vertical) {
    line-height: 3.1; }
.footer ul.links-vertical {
    line-height: 1.6; }
.footer ul.links-vertical li {
    display: block;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 0px; }
.footer ul.links-vertical li a {
    padding: 5px;
    display: block; }
.footer ul li {
    display: inline-block; }
.footer ul li a {
    color: inherit;
    padding: 13px 0.5rem;
    font-size: 0.8571em;
    text-transform: uppercase;
    text-decoration: none; }
.footer ul li a:hover {
    text-decoration: none; }
.footer .social-buttons a,
.footer .social-buttons .btn {
    margin: 0; }
.footer .pull-center {
    display: inline-block;
    float: none; }
.footer .copyright {
    font-size: 0.8571em;
    line-height: 3.5; }
.footer:after {
    display: table;
    clear: both;
    content: " "; }
