body {
  .wrapper {
    .form-container {
      width: 400px;
      margin: 20px auto;
    }

    .note-container {
      text-align: center;
      margin-top: 20px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }
  }
}

// Tablet  (portrait)
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    .wrapper {
    }
  }
}

// Tablet  (landscape)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    .wrapper {
    }
  }
}

// Mobile Landscaoe
@media (min-width: 481px) and (max-width: 767px) {
  body {
    .wrapper {
    }
  }
}

// Mobile Portrait
@media (min-width: 320px) and (max-width: 480px) {
  body {
    .wrapper {
    }
  }
}